* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/* -----Global styles----- */
a {
    color: black;
}

.container {
    width: 325px;
    margin: 0 auto;
    padding: 45px 0;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.mobile-hidden {
    display: none;
}

.desktop-hidden {
    display: initial;
}

/* -----Sections----- */

.section:nth-child(2n) {
    background-color: #F4F4F4;
}

.section:nth-child(2n + 1) {
    background-color: #ffffff;
}

.section-heading {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
}


.section-heading-1 {
    color: #EC994B;
    font-size: 1.5rem;
}

.heading-block {
    background-color: #EC994B;
    font-weight: 700;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 1.5rem;
}


/*----- Header----- */

header {
    background-image: url(./assets/background.jpg);
    background-position: center;
    height: 520px;
    background-size: cover;
    /* position: relative; */
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

.header-social-icons {
    display: flex;
    gap: 6px;
    justify-content: end;
    -webkit-justify-content: flex-end;
    -webkit-align-items: flex-end;
}

.header-text-group {
    margin-top: 110px;
    margin-bottom: 20px;
}

.header-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.regular-font {
    font-weight: normal;
}

.header-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: white;
}

.header-sub-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 40px;
    color: white;
}

.profile-picture {
    object-fit: cover;
    bottom: 0;
    top: 356px;
    left: 171px;
    overflow: hidden;
    align-items: flex-end;
    margin-top: 40px;
    border-radius: 50%;
    border: 3px solid #F4F4F4;
    width: 180px;
    height: 180px;
}

.profile-picture-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-align-items: flex-end;
}

/*----- Intro----- */

.intro-container {
    font-weight: 400;
    line-height: 29px;
}

.line {
    border: 2px solid #EC994B;
    width: 40px;
    display: inline-block;
    margin-bottom: 4px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #EC994B;
    border-radius: 50%;
    display: inline-block;
}

/* -----Tech----- */
.featured-section {
    height: 330px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.tech-container {
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    line-height: 29px;
}

/* -----Project----- */
.project {
    margin-bottom: 20px;
}

.featured-project {
    padding: 45px 0 0;
}

.project-heading {
    font-weight: 700;
    line-height: 29px;
    font-size: 1.3rem;
}

.project-description {
    font-weight: 400;
    line-height: 29px;
    font-size: 1rem;
}

.project-text-group {
    margin-top: 25px;
}

.tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 7px;
}

.tag-wrapper p{
    background-color: #C0D8C0;
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    padding: 7px;
    border-radius: 3px;
    margin: 5px 0 0;
    height: 30px;
}


.project-image-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease;
    width: 100%;
}

.github-logo {
    font-size: 1.9rem;
    margin: 4px 0 0 ;
}

.github-logo:hover {
    opacity: 65%;
    transition: 0.3s;
}

.project-image {
    width: 100%;
    display: inherit;
    transition: 0.5s ease;
}

.project-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    width: 100%;
    height: 100%;
}

.project-name-overlay {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    top: 42%;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
    margin: auto;
}

.project-image-group:hover .project-image-overlay,
.project-image-group:hover .project-name-overlay {
    background-color: transparent;
    color: transparent
}

.project-overlay:hover {
    background-color: transparent;
}

.featured-projects {
    padding-top: 40px;
}

.project-language-group {
    padding-bottom: 40px;
}

.project-language {
    display: inline-block;
    background-color: #C0D8C0;
    padding: 2px 4px;
    font-size: 14px;
    margin: 5px 3px 0 0;
    border-radius: 3px;
}

.other-project {
    margin-top: 20px;
}

.other-projects-name {
    color: black;
    font-size: 1rem;
}

.other-projects-description {
    font-weight: 400;
    line-height: 29px;
    font-size: 16px;
}

.color-red {
    font-weight: bold;
    font-size: 1.2rem;
}

.color-only {
    color: #EC994B;
    font-weight: normal;
}

.other-projects {
    margin: 30px 0;
}

.project-language-cards {
    font-size: 16px;
    margin-bottom: 15px;
}

.my-thoughts-image {
    width: 100%;
    margin-bottom: 40px;
}

.other-options {
    text-decoration: underline;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 700;
}

.color-font {
    color: ;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 700;
}

/* Skills */
.skills-container {
    padding-top: 45px;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.social-media-icon-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
    justify-items: center;
    text-align: center;
}

.about-code {
    margin-bottom: 20px;
}

/* Footer */

.footer-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
}

footer {
    background-color: #576F72;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.contact-container {
    margin-bottom: 35px;
}

.social-media-icon-footer {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.mail {
    color: white;
}

.mail:hover {
    opacity: 75%;
    text-decoration: underline;
}

/* ===============
Tablet
=============== */

@media (min-width: 768px) {
    a {
        color: black;
    }

    .container {
        width: 680px;
        padding: 80px 0;
    }

    .mobile-hidden {
        display: initial;
    }

    .desktop-hidden {
        display: none;
    }

    .heading-block {
        padding: 0 10px;
    }

    /* Header */
    .social-icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid white;
    }

    .header-text-group {
        margin-top: 75px;
        margin-bottom: 0px;
    }

    .header-name {
        font-size: 18px;
        line-height: 30px;
    }

    .header-title {
        font-size: 50px;
        line-height: 55px;
    }

    .header-sub-title {
        font-size: 18px;
        line-height: 50px;
    }

    .other-projects-name {
        font-size: 1.5rem;
    }

    .other-projects-description {
        font-size: 1.3rem;
    }

    /* tech */
    .intro-container {
        font-size: 22px;
        line-height: 40px;
    }

    .tech-container {
        font-size: 22px;
        line-height: 40px;
    }



    /* Featured projects */
    .featured-projects {
        padding: 60px 0 90px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vw;
    }


    /* My thoughts */

    .my-thoughts {
        display: grid;
        grid-template-columns: auto auto;
        gap: 3vw;
        padding: 60px 0;
        padding-bottom: 0;
    }

    /* Skills */
    .skills-container {
        grid-template-columns: auto auto auto;
        font-size: 22px;
        line-height: 37px;
    }

    /* Fore More */
    .footer-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid white;
    }

    .social-media-icon-footer {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
}

/* ===============
Desktop
=============== */


@media (min-width: 1100px) {

    .container {
        width: 850px;
    }

    .other-projects-name {
        color: black;
        font-size: 2rem;
    }

    .heading-block {
    font-size: 1.8rem;
    }

    .other-projects-name {
        font-size: 1.2rem;
    }
    
    .other-projects-description {
        font-size: 1.3rem;
    }
}